*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
.leftcorner{
    display: flex;
    padding: 30px 30px;
    align-items: center;
    justify-content: space-between;
    background-color: #9ca8bb;
    font-family: 'Times New Roman', Times, serif;
}
.inp{
    border-radius: 10px 10px;
   background-color: rgb(248, 221, 248);
    border-color: blueviolet;
}

.MainPart{
    display: flex;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    overflow: hidden;
}
.MainPart:hover .ptag{
    visibility: visible;
}
.MainPart:hover img{
    transform: scale(1.1);
}
.imgs{
border: 15px solid rgb(226, 204, 224);
 align-items: center;
 /* display: flex;
   */
}
.imgs img{
width: 400px;
margin: 11px;
height: 250px;
border-radius: 25%;
padding: 10px;
object-fit: cover;
transition: .3s ease;
}
.ptag{
 text-align: center;
font-family:cursive;
font-style: oblique;
 padding:20px ;
visibility: hidden;
}
h2{
    margin: 30px;
}
.foot{
    /* display: flex; */
    background-color: #9ca8bb;
 overflow: hidden;
}

 .sub1{
width: 200px;
height: auto;
padding: 10px;
/* flex-direction: column; */
background-color: #696669;
margin-inline-start: 35px;


}
.icon{
    display: flex;
}
.icon img{
 width: 40px;
 height: 40px;
}
    